{% extends "base_user.html" %}

{% block content %}
<!-- add lorem ipsum content for display depending on book id -->

<h2 style="text-align: center;"><strong>Book Name: {{ book.title }}</strong></h2>
<h4 style="text-align: center;">Author: {{ book.author }}</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl nec tincidunt ultricies, velit nunc
    tincidunt nunc, vitae lacinia nisl nunc id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc,
    vitae
    ultricies nisl nunc id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc, vitae ultricies nisl
    nunc
    id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc, vitae ultricies nisl nunc id nunc.</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl nec tincidunt ultricies, velit nunc
    tincidunt nunc, vitae lacinia nisl nunc id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc,
    vitae
    ultricies nisl nunc id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc, vitae ultricies nisl
    nunc
    id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc, vitae ultricies nisl nunc id nunc.</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl nec tincidunt ultricies, velit nunc
    tincidunt nunc, vitae lacinia nisl nunc id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc,
    vitae
    ultricies nisl nunc id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc, vitae ultricies nisl
    nunc
    id nunc. Sed euismod, nunc id lacinia tincidunt, nisl nunc tincidunt nunc, vitae ultricies nisl nunc id nunc.</p>
{% endblock %}